:global {
  .commandBarWrapper,
  #sp-appBar,
  #spSiteHeader,
  #SuiteNavWrapper,
  #vpc_Page.SiteFooter.internal,
  #CommentsWrapper {
    display: none !important;
  }

  [data-automation-id="CanvasZone"] {
    padding: 0 !important;
  }

  [data-automation-id="CanvasControl"] {
    padding: 0 !important;
    margin: 0 !important;
  }

  [data-automation-id="CanvasZone-SectionContainer"] {
    max-width: 100% !important;
  }

  [data-automation-id="CanvasZone-Section"] {
    padding: 0 !important;
  }

  [data-automation-id="SimpleFooter"] {
    display: none !important;
  }
}
