:global {
  * {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif !important;
  }

  body,
  html {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif !important;
  }

  .commandBarWrapper,
  #sp-appBar,
  #spSiteHeader,
  #SuiteNavWrapper,
  #vpc_Page.SiteFooter.internal,
  #CommentsWrapper {
    display: none !important;
  }

  [data-automation-id="CanvasZone"] {
    padding: 0 !important;
  }

  [data-automation-id="CanvasControl"] {
    padding: 0 !important;
    margin: 0 !important;
  }

  [data-automation-id="contentScrollRegion"] {
    overflow-y: auto !important;
  }

  [data-automation-id="CanvasZone-SectionContainer"] {
    max-width: 100% !important;
  }

  [data-automation-id="CanvasZone-Section"] {
    padding: 0 !important;
  }

  [data-automationid="SimpleFooter"] {
    display: none !important;
  }
}
